{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert alert-danger" role="alert">
        Insufficient funds! Please top up your account balance and try again.
    </div>
{% endblock %}